/* Start Global Values */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --sec-padding: 50px;
  --white: #ffffff;
  --black: #0b0d17;
  --blue: #d0d6f9;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
}

body.menu-active {
  overflow: hidden;
}
.temp {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.temp-two {
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Values */

/* START COMPONENTS */
h1,
h2,
h3 {
  font-family: "Bellefair", serif;
}

h1 {
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 100px !important;
  text-transform: uppercase;
}

.landing .text p {
  line-height: 1.8;
  font-size: 16px;
  color: var(--white);
}

p.sub-title,
.sub-heading,
nav a {
  font-family: "Barlow Condensed", sans-serif;
}

/* END COMPONENTS */

/* START HEADER */

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
@media (max-width: 991px) {
  header {
    margin-top: 25px;
  }
}

header > img {
  padding: 10px;
  border-radius: 50%;
  color: hsl(0deg 0% 100%);
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-image: linear-gradient(
    to right,
    hsl(232deg 28% 10%),
    hsl(216deg 18% 41%),
    hsl(214deg 30% 31%),
    hsl(232deg 28% 10%)
  );
  counter-reset: links-counter;
  position: relative;
}
header nav a {
  padding: 35px 25px;
  text-transform: uppercase;
  color: hsl(0deg 0% 100%);
  padding-left: 40px;
  position: relative;
  letter-spacing: 2.7px;
}
header nav a.active {
  border-bottom: 3px solid var(--white);
}
header nav a::before {
  content: "0" counter(links-counter);
  counter-increment: links-counter;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  letter-spacing: 1.5px;
  font-weight: 600;
  transition: 0.3s;
}
header nav a:not(a.active)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff81;
  transition: 0.3s;
}
header nav a:not(a.active):hover::after {
  width: 100%;
  height: 4px;
}
/* start setting menu toggle btn */
header .menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
header .menu-toggle span {
  display: block;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #ffffff;
  transition: 0.3s;
}
header .menu-toggle.active span:nth-child(1) {
  transform: rotate(-42deg) translateY(12px);
}
header .menu-toggle.active span:nth-child(2) {
  transform: translateY(15px);
  opacity: 0;
}
header .menu-toggle.active span:nth-child(3) {
  transform: rotate(42deg) translateY(-14px);
}
/* end setting menu toggle btn */

@media (max-width: 991px) {
  header {
    padding-right: 30px;
  }
  header .menu-toggle {
    z-index: 2200;
  }
  header nav {
    transition: all 0.5s;
    position: absolute;
    top: -25px;
    right: 0;
    flex-direction: column;
    z-index: 1100;
    background: #ffffff26;
    backdrop-filter: blur(20px);
    padding: 81px 0 0 30px;
    height: 795px;
    align-items: baseline;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }
  header nav.active {
    opacity: 1;
    width: 50%;
  }
}
@media (min-width: 992px) {
  header {
    top: 35px;
  }
  header .menu-toggle {
    display: none;
  }
  header nav::before {
    content: "";
    width: 90%;
    height: 0.5px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 96%;
    opacity: 0.6;
  }
}
/* END HEADER */

/* START LANDING */
.landing {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Main-Page/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  .landing {
    background-image: url(../images/Main-Page/background-home-tablet.jpg);
  }
}
@media (max-width: 767px) {
  .landing {
    background-image: url(../images/Main-Page/background-home-mobile.jpg);
  }
}

.landing .container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 149px;
  row-gap: 100px;
}
.landing .text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}
.landing .text p.sub-title {
  font-size: 23px;
  text-transform: uppercase;
}

.landing .explore {
  padding: 100px;
  border-radius: 50%;
  background: hsl(0, 0%, 90%);
  color: hsl(220deg 2% 34%);
  font-size: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s;
  text-transform: uppercase;
}
.landing .explore:hover {
  box-shadow: 0 0 0 60px hsl(0deg 0% 90% / 36%);
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .text {
    max-width: unset;
    text-align: center;
  }
  .landing .text h1 {
    font-size: 6.5em;
  }
}
/* END LANDING */
